<%= form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label '姓名', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label '手机', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cellphone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label '备用电话', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tel, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :qq, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qq, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label '微信', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wx, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label '地址', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contacts_path, :class => 'btn' %>
  </div>
<% end %>
